body, html {
    margin: 0;
    padding: 0;
    background: url(./images/back.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
}

.title {
    text-align: center;
    color:cornflowerblue;
}

.bold{
    font-weight: bold;
}

.form-inline {
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
    color: white;
}

.menu {
    width: 80%;
    margin: auto;
}
.menu-buttons {
    background: #087e70;
    color: white;
    padding: 6px 6px;
    border-radius: 5px 5px 0px 0px;
    border-color: #087e70;
    font-weight: bolder;
}
.menu-buttons:hover {
    background: #0b9585;
}
.menu-buttons:disabled{
    background: #93d3cb;
    color: gainsboro;
}
.table-responsive {
    width: calc( 80% - 10px );
    margin: auto;
    background-color: #ffffff30;
    color: white;
    padding: 5px;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 0 0 5px 5px;
}
.sheet-input {
    border: solid 1px #fff;
    background: #0d0d0d5e;
    color: #fff;
    padding: 10px 5px;
}

.contextMenu {
	 position: fixed;
	 background: white;
	 box-shadow: 0px 2px 10px #999;
}
 .contextMenu--option {
	 padding: 6px 50px 5px 10px;
	 min-width: 160px;
	 cursor: default;
	 font-size: 12px;
}
 .contextMenu--option:hover {
	 background: linear-gradient(to top, #555, #333);
	 color: white;
}
 .contextMenu--option:active {
	 color: #e9e9e9;
	 background: linear-gradient(to top, #555, #444);
}
 .contextMenu--option__disabled {
	 color: #999;
	 pointer-events: none;
}
 .contextMenu--separator {
	 width: 100%;
	 height: 1px;
	 background: #ccc;
	 margin: 0 0 0 0;
}

@media (max-width: 487px) {
    .menu-buttons {
        width: 100%;
        background: #087e70;
        color: white;
        padding: 6px 6px;
        border-radius: 0px 0px 0px 0px;
        border-color: #087e70;
        font-weight: bolder;
    }
}
